body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background-color: #ffe4bf;
}

body, h1 {
  margin: 0;
}

.header-title {
  text-align: center;
  padding-bottom: 10px;
  background-color: #fff;
  color: rgb(145, 0, 34);;
}

.columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background: #ffa75a;
}

.column-title {
  color: #471721;
}

.column {
  width: calc(100% / 3);
  margin: 15px;
  background: #ffebed;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 15px;  
}  

.column h2 {
  margin-top: 0;
  text-align: center;
}

.cards {
  flex: 1;
  min-height: 50px;
}

.card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; 
  background: #fff;
  margin: 8px 0;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  cursor: grab;
  position: relative;
  transition: transform 0.2s ease;
  }

.content {
  display: inline-block;
  height: auto;                  
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.btn-close-card {
  width: 28px;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 4px;
  opacity: 0;
  pointer-events: none;
  background-color: #fff;
  color: grey;
  border: none;
  font-size: 18px;
  margin-bottom: auto;
  cursor: pointer;
}

.card:hover .close-btn {
  opacity: 1;
  pointer-events: auto;
}

.add-card-button {
  font-size: 18px;
  margin-top: 10px;
  color: gray;
}

.add-card-button::before {
  content: '+';
  font-size: 23px;
}

.add-card-button:hover {
  text-decoration: underline;
  cursor: pointer;
  color:#1a334f;
}

.card-form {
  display: none;
  margin-top: 10px;
}

.add-card-form {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  width: 100%;
}

.text-input {
  flex: 1;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box; 
  min-height: 60px;
  resize: vertical;
}

.text-input:focus {
  outline: none;
}

.buttons-container {
  display: flex;
  gap: 8px; 
}

button.add-btn {
  font-size: 18px;
  margin-left: 4px;
  padding: 4px 8px;
  border: none;
  background: #5aac44;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.close-form {
  min-width: 29px;
  border: none;
  color: #fff;
  background-color: rgb(255, 0, 60);
  border-radius: 4px;
  font-size: 18px;
}

.placeholder {
  transition: all 0.2s ease;
  background: #e0c8c8ff;
  margin: 8px 0;
  border: 1px solid #999999ff;
  border-radius: 4px;
}

@media (max-width: 640px) {
  .columns {
    flex-direction: column;
    align-items: center;
  }

  .column {
    width: calc(100% - 60px);
  }
}